.bmi-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.calculator h2 {
    text-align: left;
    font-weight: bold;
    font-size: 3rem;
    color: var(--color-bluish);
}

.calculator p {
    text-align: left;
}

.calculator, .result {
    flex: 1;
    margin: 20px;
    text-align: center;
}

.calculator input {
    padding: 10px;
    margin: 10px 5px;
    border: 2px solid #333;
}

.input-section {
    display: flex;
}

.bmi-scale {
    position: relative;
    width: auto;
    max-width: 600px;
    margin: 0 auto;
}

.bmi-scale img {
    position: relative;
    width: auto;
    max-width: 600;
}

.triangle {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid orange;
    transition: left 0.3s ease;
}

@media (max-width: 576.98px) {
    .bmi-section {
        flex-direction: column;
    }
    .input-section {
        display: flex;
        flex-direction: column;
    }
}