.hero {
    height: 100vh;
    background: url('../images/hero-man.jpg') no-repeat center center/cover;
    display: flex;
}

.hero-content {
    margin-top: 48px;
    padding-top: 150px;
    width: 100%;
    max-width: 1200px;
}

.hero-content span {
    background-color: var(--color-bluish);
    padding: 10px 12px;
    font-weight: bold;
    color: white;
    box-shadow: 0 4px 8px rgba (0, 0, 0, 0.1);
    border-radius: 4px;
}

.hero-content h2 {
    padding-top: 8px;
    color: white;
    font-weight: bold;
    font-size: 6rem;
}

.hero-content p {
    padding: 10px;
    background-color: rgba(1, 1, 1, 0.7);
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.hero-info {
    display: flex;
    gap: 36px;
    padding-left: 24px;
}

.sign-up {
    color: white;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--color-bluish);
    padding: 8px 20px;
    border-radius: 4px;
}

.details {
    color: white;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: rgba(1, 1, 1, 0.7);
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid white;
}

@media (max-width: 576.98px) {
    .hero {
        height: auto;
    }
    .hero-content span {
        font-size: larger;
        padding: 12px;
        border-radius: 4px;
        text-shadow: dimgrey;
    }
    .hero-content h2 {
        padding-top: 8px;
        color: white;
        font-weight: bold;
        font-size: 3.5rem;
        text-shadow: #333;
    }
    .hero-content p {
        padding: 10px;
        background-color: rgba(1, 1, 1, 0.7);
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .hero-content h2 br {
        display: none;
    }
    .hero-info {
        flex-direction: column;
        padding: 24px 0;
    }
    .hero-info .sign-up {
        width: 100%;

    }
    .hero-info .details {
        width: 100%;
    }
}